* {
    box-sizing: border-box;
}

header {
    background-color: black;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.menu-btn {
    display: block;
}

nav {
    display: none;

    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

nav a {
    margin-top: 10px;
}

img {
    width: 90%;
    height: auto;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: aquamarine;
}

.hero h1 {
    font-size: 25px;
}

.hero p {
    font-size: 15px;
}

button {
    margin-top: 30px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
    padding: 12px 25px;
    width: 80%;
}

button:hover {
    background-color: white;
    color: blue;
}

#contact {
    padding: 40px 20px;
    background-color: #f4f7f6;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    background-color: white;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#contactForm textarea {
    resize: vertical;
}

#contactForm button {
    padding: 12px;
    background-color: #187a43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px
}
   #successMessage {
    padding: 12px;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}












@media (min-width: 601px) {

    header {
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-btn {
    
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
}

  

    img {
        width: 50%;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 18px;
    }

    button {
        width: auto;
    }
    #contact {
        padding: 60px 40px;
    }

    #contactForm {
        max-width: 600px;
        padding: 35px;
    }    


}
